@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Strona używa polityki prywatności <a href="https://pl-vacc.org.pl/files/privacypolicy.pdf">Polish vACC</a>.</p>
<p>Privacy policy is available in English <a href="https://pl-vacc.org.pl/files/privacypolicy_en.pdf">here</a></p>
